{% extends 'blog/base.html' %}
{% block content %}

<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo voluptate, numquam quas odit consequuntur reiciendis doloribus alias, blanditiis labore, voluptas saepe amet consequatur dolorem reprehenderit provident error aliquid? Aperiam, beatae quae. Culpa excepturi maiores necessitatibus ex, eum provident iure quidem unde. Earum odit vero totam impedit voluptates reiciendis rerum repudiandae.</p>

</div>

{% endblock content %}